/* color */
:root {
    --color-white: #FFFFFF;
    --color-black: #0F1419;
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-main: #1D9BF0;
    --color-meta: #71767B;
    --color-disabled: #C3C4C5;
    --color-border: #F3F3F3;
    --color-warn: #F01D32;
}

/* fonts */
@font-face {
    font-family: 'Noto Emoji';
    src: url('../fonts/NotoEmoji-Regular.ttf');
}

/* common */
html {
    color: var(--color-text);
    font-family: 'Segoe UI', Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
}

body {
    display: block;
    margin: 10px;
    background-color: var(--color-background);
}

p {
    line-height: 1.8;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px dashed;
}

a:hover {
    background-color: var(--color-text);
    color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.3rem;
    margin-top: 2em;
}

h1::before {
    color: var(--color-main);
    content: '# ';
}

h2::before {
    color: var(--color-main);
    content: '## ';
}

h3::before {
    color: var(--color-main);
    content: '### ';
}

h4::before {
    color: var(--color-main);
    content: '#### ';
}

h5::before {
    color: var(--color-main);
    content: '##### ';
}

h6::before {
    color: var(--color-main);
    content: '###### ';
}

/* list config */
ul {
    list-style: disc outside;
}

.tags li::marker {
    content: "🏷";
    font-family: 'Noto Emoji';
}

.posts li::marker {
    content: "📑";
    font-family: 'Noto Emoji';
}

.tags a,
.posts a {
    border-bottom: 2px solid var(--color-main);
}

.tags a:hover,
.posts a:hover {
    color: var(--color-background);
    background-color: var(--color-text);
}

.post time {
    color: var(--color-meta);
}

.post time::after {
    content: " : ";
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
    padding-bottom: 1rem;
}

header .main {
    font-size: 1.5rem;
}

header span {
    font-size: medium;
}

header nav a {
    margin-right: 0.75rem;
    padding-top: 0.125rem;
}

header nav a#dark-mode-toggle {
    margin-right: 0;
    border-bottom: none;
    color: var(--color-background);
    background-color: var(--color-text);
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    padding-bottom: 0.125rem;
}

/* footer */
footer {
    align-items: center;
    border-top: 0.25rem dashed var(--color-main);
    padding: 1rem 0rem;
    margin-top: 2rem;
    word-wrap: break-word;
}

footer .social {
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: 0rem;
    border-right: 2px solid var(--color-text);
    border-bottom: none;
}

footer a:last-of-type {
    margin-right: 0.5rem;
}

footer span a {
    border-bottom: none;
}

/* index body */
.title-info h1 {
    margin-top: 0;
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}

.title-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 0;
    align-items: flex-end;
}

section.list-item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-border);
}

.list-item h1::before {
    content: none;
}

.list-item:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.list-item-icon::after {
    content: '#';
}

.list-item-icon {
    background: var(--color-main);
    color: var(--color-background);
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    border-radius: 50%;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    flex: none;
}

.list-item time {
    color: var(--color-meta);
}

/* pagination-in-index */
.pagination-in-index {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pagination-in-index a {
    border-bottom: 2px solid;
}

.pagination-in-index span {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.pagination-in-index span.disabled-link {
    color: var(--color-disabled);
}

/* content */
.content {
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    padding: 0 1ch;
    word-wrap: break-word;
}

.title h1 {
    margin-bottom: 0;
}

.meta {
    color: var(--color-meta);
}

article .title {
    margin-bottom: 1em;
}

h1.page-title {
    margin-top: 1rem;
}

/* images */
img {
    border: 3px solid var(--color-border);
    max-width: 100%;
}

figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 100%;
}

figure img {
    max-height: 500px;
}

@media screen and (min-width: 600px) {
    figure {
        padding: 0 40px;
    }
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: '↳ ';
}

svg {
    max-height: 15px;
}

/* inline code */
code {
    background-color: var(--color-text);
    color: var(--color-background);
    padding: .1em .2em;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

/* info/warn block */
.info,
.warn {
    color: var(--color-white);
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.info {
    background-color: var(--color-main);
}

.warn {
    background-color: var(--color-warn);
}

.info p,
.warn p {
    margin: 0;
}

.info h3,
.warn h3 {
    margin-top: 0em;
}

.info h3::before,
.warn h3::before {
    content: none;
}

.info a,
.warn a {
    border-bottom: 3px solid var(--color-white);
}

.warn a:hover {
    background-color: var(--color-white);
    color: var(--color-warn);
}

.info a:hover {
    background-color: var(--color-white);
    color: var(--color-main)
}

/* code block */
pre {
    background-color: var(--color-meta);
    line-height: 1.4;
    overflow-x: auto;
    padding: 1em;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

.highlight pre ::selection {
    background: var(--color-disabled);
    color: inherit;
}

pre code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0;
}

.highlight {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
    -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
    border-radius: 0 0 0.25rem 0.25rem;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    top: 0;
    background: var(--color-background);
    color: var(--color-text);
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
    content: "js";
}

.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
    content: 'yaml';
}

.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
    content: 'shell';
}

.highlight pre code[class*='language-json']::before {
    content: 'json';
}

.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
    content: 'py';
}

.highlight pre code[class*='language-css']::before {
    content: 'css';
}

.highlight pre code[class*='language-java']::before {
    content: 'java';
}

.highlight pre code[class*='language-go']::before {
    content: 'go';
}

.highlight pre code[class*='language-rust']::before,
.highlight pre code[class*='language-rs']::before {
    content: 'rs';
}

.highlight pre code[class*='language-md']::before {
    content: 'md';
}

/* table */
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1em 0;
}

table th {
    padding: 6px 13px;
    border: 1px solid var(--color-disabled);
    font-size: large;
}

table td {
    padding: 6px 13px;
    border: 1px solid var(--color-disabled);
}

/* misc */
hr {
    border: none;
    border-top: 2px dotted var(--color-main);
    margin: 1em 0;
}

blockquote {
    border-left: 3px solid var(--color-main);
    color: var(--color-meta);
    margin: 0;
    padding-left: 1em;
}

/* footnote */
.footnote-backref {
    font-family: 'Noto Emoji';
}

.pagination-in-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.pagination-in-post a {
    border-bottom: 2px solid;
}

.pagination-in-post span {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.pagination-in-post span.disabled-link {
    color: var(--color-disabled);
}