{{ define "main" }}
<main>
<article>

<div class="post_title_block">
    <h1>{{ .Title }}</h1>
    <div class="meta">
        {{- $dateTag := .Date.Local.Format "2006-01-02" -}}
        {{- $dateShow := .Date.Local.Format "2006/1/2" -}}
        {{- $lastmodTag := .Lastmod.Local.Format "2006-01-02" -}}
        {{- $lastmodShow := .Lastmod.Local.Format "2006/1/2" -}}
        posted on <time datetime="{{ $dateTag }}">{{ $dateShow }}</time>
        {{- if ne $dateTag $lastmodTag -}}
            , updated on <time datetime="{{ $lastmodTag }}">{{ $lastmodShow }}</time>
        {{- end -}}
    </div>
    {{ with .Params.tldr -}}
    <div class="tldr">
        <strong>tl;dr: </strong>{{ . }}
    </div>
    {{- end }}
</div>

<section class="body">
{{ .Content -}}
</section>

<div>
    {{- if and (ne .Type "page") (gt .Params.tags 0) }}
    <nav class="tags">
        <ul class="tag">
            {{- range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
        </ul>
    </nav>
    {{- end }}
</div>

{{ if or .NextInSection .PrevInSection -}}
<div class="pagination_in_post">
    {{ with .PrevInSection -}}
    <a href="{{ .Permalink }}">&larr; {{ .LinkTitle }}</a>
    {{- else -}}
    <span class="link_disabled">No Previous Post</span>
    {{- end }}<a href=#>&uarr;</a>{{ with .NextInSection -}}
    <a href="{{ .Permalink }}">{{ .LinkTitle }} &rarr;</a>
    {{- else -}}
    <span class="link_disabled">No Next Post</span>
    {{- end }}
</div>
{{- end }}

</article>
</main>
{{ end }}