{{ define "main" }}
<main>
<article>

<div class="title">
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="meta">Posted on {{ dateFormat "2006/1/2" .Date }}</div>
</div>

{{ with .Params.tldr -}}
<div class="tldr">
    <strong>tl;dr: </strong>{{ . }}
</div>
{{- end }}

<section class="body">
{{ .Content -}}
</section>

<div class="post-tags">
    {{- if and (ne .Type "page") (gt .Params.tags 0) }}
    <nav class="nav tags">
        <ul class="tag">
            {{- range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
        </ul>
    </nav>
    {{- end }}
</div>

{{ if or .NextInSection .PrevInSection -}}
<div class="pagination-in-post">
    {{ with .PrevInSection -}}
    <a href="{{ .Permalink }}">&larr; {{ .LinkTitle }}</a>
    {{- else -}}
    <span class="disabled-link">No Previous Post</span>
    {{- end }}<a href=#>&uarr;</a>{{ with .NextInSection -}}
    <a href="{{ .Permalink }}">{{ .LinkTitle }} &rarr;</a>
    {{- else -}}
    <span class="disabled-link">No Next Post</span>
    {{- end }}
</div>
{{- end }}

</article>
</main>
{{ end }}