{{ if gt $.Paginator.TotalPages 1 -}}
{{ $p := $.Paginator -}}
<div class="pagination">
    {{- if $p.HasPrev -}}
    <a href="{{ $p.Prev.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">&larr;</span></a>
    {{- else -}}
    <span class="disabled" aria-hidden="true">&larr;</span>
    {{- end -}}
    <span class="page-number">Page {{ $p.PageNumber }} of {{ $p.TotalPages }}</span>
    {{- if $p.HasNext -}}
    <a href="{{ $p.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">&rarr;</span></a>
    {{- else -}}
    <span class="disabled" aria-hidden="true">&rarr;</span>
    {{- end -}}
</div>
{{- end }}