<!DOCTYPE html>
<html lang="ja">

{{ partial "header.html" . }}

<body>
<div class="content">

{{ partial "head.html" . }}

<main class="list">
{{- $pages := where
(where .Site.RegularPages "Type" "in" .Site.Params.mainSections)
"Params.hidden" "ne" true }}
{{- $paginator := .Paginate $pages }}
{{- range $paginator.Pages }}
<section class="list-item">
    <div class="list-item-icon"></div>
    <div class="list-item-body">
        <div class="title-info">
            <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            {{- $dateTag := .Date.Local.Format "2006-01-02" }}
            {{- $dateShow := .Date.Local.Format "2006/1/2" }}
            <time datetime="{{ $dateTag }}">{{ $dateShow }}</time>
        </div>
        <div class="description">
            {{- with .Params.description }}{{ . }}
            {{- else }}{{ .Summary }} &hellip;
            {{- end -}}
        </div>
    </div>
</section>
{{- end }}
</main>
{{ if gt $.Paginator.TotalPages 1 -}}
{{ $p := $.Paginator -}}
<div class="pagination-in-index">
    {{- if $p.HasPrev -}}
    <a href="{{ $p.Prev.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">&larr;</span></a>
    {{- else -}}
    <span class="disabled-link" aria-hidden="true">&larr;</span>
    {{- end -}}
    <span class="page-number">Page {{ $p.PageNumber }} of {{ $p.TotalPages }}</span>
    {{- if $p.HasNext -}}
    <a href="{{ $p.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">&rarr;</span></a>
    {{- else -}}
    <span class="disabled-link" aria-hidden="true">&rarr;</span>
    {{- end -}}
</div>
{{- end }}
{{ partial "footer.html" . }}

</div>
</body>

</html>